/*
=============== 
VARIABLES
===============
*/

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	/* 1 rem = 10px; 10px/16px = 62.5% */
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
}

:root {
	/* COLORS */
	/* usage ==> color: var(--color-primary); */
	/* primary colors */

	--color-primary: #00c1ff;
	--color-primary-light: #eee;
	--color-primary-dark: #eee;

	--color-secondary: #eee;
	--color-secondary-light: #eee;
	--color-secondary-dark: #eee;

	--color-grey-dark: #777;
	--color-grey-dark-2: #999;
	--color-grey-dark-3: #333;
	--color-white: #fff;
	--color-black: #000;

	/* TYPOGRAPHY */
	--default-font-size: 1.6rem;
}
/* TYPOGRAPHY */
/* anything related to text like heading, texts font related h1-h6, p, */

/* DIMENSIONS | UTILS  AKA GUTTERS*/
/* Related to padding, margins */

/* OTHER GLOBAL STYLES */
/* Classes shared globally over the application */
.bg {
	background-color: yellow;
}
